<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<h1>Edit Book</h1>
<form th:action="@{/editbook}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p>Author: <input type="text" th:field="*{author}" /></p>
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p>ISBN: <input type="text" th:field="*{isbn}" /></p>
    <p>Year: <input type="number" th:field="*{publicationYear}" /></p>
    <p>Price: <input type="number" th:field="*{price}" /></p>
    <p><input type="submit" value="Update" /></p>
</form>
<a href="/booklist">Return to book list</a>
</body>
</html>
